body{
  height: 100%;
  width: 100%;
}

h1{
  /* border: red solid; */
}

.box_p{
  /* border: blue solid; */
}

.p2{
  text-align: center;
  /* border: yellow solid; */
}

.central_box{
  width: auto;
  height: auto;
  justify-content: center; 
  align-items: center;
  display: flex;
  /* border: purple solid; */
}